.card{
    width: 345px;
    height: 296px;
    /* top: 59px;
    left: 2222px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;

}
.card_title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;  
    color: #222B45;
}
.text_box{
    width: 316.69px;
    border-radius: 15px;
}
.text_box_placeholder{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8F9BB3;
}